.Card{
    position: static;
    width: 10%;
    background-color: #168aad;
    border-radius: 1rem;
    flex-direction: column-reverse;
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border: 1px solid #34a0a4;
}
.Text {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: small;
}
.Image{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 6rem;  
    border: 4px solid #34a0a4;  
}
.boton{
   background-color: #d9ed92;
   border-radius: 2rem;
   border-color: #d9ed92;
}